.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(38, 202, 49);
  border-radius: 12px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #131212;
  border-radius: 8px;
}

.button {
  padding: 6px 12px;
  background-color: #2621b041;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}

.button:hover {
  background-color: #d9363e;
}
